.topnav {
  position: static;
  height: 15vh;
  background: linear-gradient(180deg, rgba(228,189,230,1) 20%, rgba(227,208,227,1) 52%, rgba(235,213,232,1) 94%);
}

.title {
  position: static;
  overflow: hidden;
  padding-left: 30.0625rem;
  padding-right: 18.9375rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.title p {
  text-align: center;
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}

.grid-cols-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
}

.wrapper {
  overflow: hidden;
}

.sliding-background {
  background: url("../img/sliding_window.png") repeat-x center/80%;
  height: 25rem;
  width: 187.5rem;
  animation: slide 60s linear infinte;
  -webkit-animation: slide 60s linear infinite;
}

@keyframes slide {
  0%{
    -webkit-transform: translate3d(-65.75rem, 0, 0);
    transform: translate3d(-65.75rem, 0, 0);
  }
  100%{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
