.wrapper-html {
  height: 100vh;
}

.topnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8.70625rem;
  /* background: linear-gradient(180deg, rgba(228,189,230,1) 20%, rgba(227,208,227,1) 52%, rgba(235,213,232,1) 94%); */
  z-index: 1000;
}

.title {
  overflow: hidden;
  padding-left: 10rem;
  padding-right: 18.9375rem;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  height: 5.59rem;
}

.title p {
  color: rgb(243, 235, 235);
  text-align: center;
  text-shadow: -0.18rem 0.18rem rgb(206, 146, 156);
  text-transform: uppercase;
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}

.grid-cols-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
}

.wrapper-slider {
  position: absolute;
  top: 8.70625rem;
  overflow: hidden;
}

.sliding-background {
  background: url("./img/sliding_window.png") repeat-x center/80%;
  height: 25rem;
  width: 187.5rem;
  animation: slide 60s linear infinte;
  -webkit-animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    -webkit-transform: translate3d(-65.75rem, 0, 0);
    transform: translate3d(-65.75rem, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.cherry-blossoms {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -1;
  width: 100vw;
  height: 8.70625rem;
  mix-blend-mode: multiply;
  z-index: 999;
  /* -webkit-animation: rotate 5s linear infinite;
  -moz-animation: rotate 5s linear infinite;
  -ms-animation: rotate 5s linear infinite;
  -o-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite; */
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.grid-cols-2 {
  position: absolute;
  top: 33.70625rem;
  left: 0rem;
  right: 0rem;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.cols-2-1 {
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 2rem;
}

.about-title {
  color: rgb(243, 235, 235);
  text-shadow: -0.14rem 0.14rem rgb(206, 146, 156);
  padding-left: 2rem;
  text-transform: uppercase;
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
}

.about-desc {
  width: 40ch;
  color: rgb(243, 235, 235);
  text-shadow: -0.09rem 0.09rem rgb(206, 146, 156);
  text-transform: uppercase;
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
}

.socials-grid {
  display: grid;
  width: 40ch;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 0.8rem;
  gap: 1rem;
}

.instagram {
  width: 2.2rem;
  height: 2.2rem;
  transition: transform 500ms ease-in-out 0s;
}

.instagram:hover {
  transform: scale(1.1);
}

.shopee {
  width: 2.2rem;
  height: 2.2rem;
  transition: transform 500ms ease-in-out 0s;
}

.shopee:hover {
  transform: scale(1.1);
}

.whatsapp {
  width: 2.2rem;
  height: 2.2rem;
  transition: transform 500ms ease-in-out 0s;
}

.whatsapp:hover {
  transform: scale(1.1);
}

.ducks {
  padding: 1rem;
  width: 22rem;
  height: 18rem;
  border-image: linear-gradient(red, blue) 27;
}

#scroll-status {
  position: fixed;
  top: 90vh;
  left: 0.5rem;
  right: 0.5rem;
  height: 5rem;
  width: 100vw;
}

#nyan-cat-position {
  transition: all 500ms linear 0s;
}

#frame {
  position: absolute;
  top: 100vh;
  height: 100vh;
}
