.grid-cols-1 button {
  /* border: none; */
  /* border-top-color: beige;
  border-bottom-color: beige; */
  /* border-right: none;
  border-left: none; */
  border-radius: 2rem;
  background: transparent;
  color: rgb(243, 235, 235);
  -webkit-text-stroke: 0.125rem black;
  text-align: center;
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  transition: .3s ease-in-out 0s;
  transition-property: cursor, border-color, opacity, transform, z-index;
  opacity: 0.5;
}

.grid-cols-1 button:hover {
  cursor: pointer;
  border-color: black;
  opacity: 1;
  transform: scale(1.1);
  z-index: 9999;
}